<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/preview.css" />
  </head>
  <body>
    <div class="container">
      <h1>Templates</h1>
      <ul>
        <li>
          <a href="home.html">Home</a>
        </li>
      </ul>
      <hr />

      <h2>PNG icons</h2>
      <i class="icon icon-instagram"></i>
      <hr />

      <h2>SVG icons</h2>

      <ul>
        <li>
          <a href="svg-sprite.html">SVG Icons</a>
        </li>
      </ul>

      <footer>
        <p>Last updated: {{ lastUpdated }}</p>
      </footer>
    </div>
  </body>
</html>
